<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANRI's Live Show Ticket ★ AUDIOLOGIE</title>
    <link rel="icon" href="https://annezoey.github.io/anri_locker/assets/favicon.jpg" type="x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <script>
        function convertToUpperCase(inputElement) {
          inputElement.value = inputElement.value.toUpperCase();
        }
    </script>
</head>
<body>
   <div id="content-container">
    <h1>RESERVE YOUR TICKET TODAY</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="name">Enter Your Name:</label>
        <input type="text" name="text" placeholder="ex. ANRI LIN" oninput="convertToUpperCase(this)" maxlength="15" id="nameInput">
        <label for="image">Upload Your Image:</label>
        <input type="file" name="image" required>
        <input type="submit" value="SUBMIT" id="submit-button"></input>
    </form>
   </div>
</body>
<style>
    body {
        background-color: #411b46;
        background: linear-gradient(to bottom, #411b46, #2c0531);
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    h1 {
        font-size: 40px;
        margin: 0;
        padding: 15px 0px 15px 0px;
    }

    #content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #00000067;
        color: #fff;
        width: 500px;
        font-family: 'Anton', sans-serif;
        border-radius: 15px;
        transition: transfrom 0.5s ease-in-out;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        width: 60%;
    }

    #nameInput {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        border-color: none;
        
        padding: 10px;
        
    }

    input {
        display: block;
        margin: 10px 0px 10px 0px;
        font-family: 'Courier New', Courier, monospace;
    }

    #submit-button {
        display: block;
        align-self: center;
        font-size: 15px;
        padding: 10px;
    }

    #footer-text {
        color: #fff;
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
    }

    @media screen and (max-width: 500px) {
        #content-container {
            transform: scale(0.6);
        }
    }
</style>
</html>
