<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANRI LIVE SHOW TICKET</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
   <div id="content-container">
    <h1>RESERVE YOUR TICKET TODAY</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="name">Enter Your Name:</label>
        <input type="text" name="text" placeholder="ex. ANRI LIN" oninput="convertToUpperCase(this)" maxlength="10" id="nameInput">
        <label for="image">Upload Your Image:</label>
        <input type="file" name="image" required>
        <input type="submit"></input>
    </form>
   </div>
</body>
<script>
    function convertToUpperCase(inputElement) {
      inputElement.value = inputElement.value.toUpperCase();
    }
</script>
<style>
    body {
        background-color: #411b46;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    h1 {
        font-size: 40px;
        margin: 0;
        padding: 0;
    }

    #content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #00000067;
        color: #fff;
        width: 500px;
        font-family: 'Anton', sans-serif;
        border-radius: 15px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
    }

    #nameInput {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        border-color: none;
        font-family: 'Courier New', Courier, monospace;
        padding: 10px;
        margin: 10px 0px 10px 0px;
    }

    input {
        display: block;
        width: 100%;
    }

    button {
        display: block;
        align-self: center;
    }
</style>
</html>
